body{
    margin: 0px;
    font-family: 'lato','roboto',sans-serif;
    font-weight: 400;
}
.head .nav{
    padding: 25px;
    text-transform: uppercase;
    
}

.head .nav:hover{
    text-decoration: underline orange;
    
}



.head{
    color: pink;
    
}
.sec1{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://www.omnifood.net/resources/CSS/img/hero-min.jpg');
    background-size: cover;
    height: 100vh;
    
}

.logo {
    width: 100px;
    height: 100px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-width: 1219px;
    
}
.title{
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
}
.button-container .button.primary{
    border-radius: 99px;
    color: white;
    background-color: orange;
    border: none;
    padding: 20px;
}


.button-container .button.primary:hover{
    opacity: 0.7;
    transition: 0.5s;
}

.button-container .button.secondary{
    border-radius: 99px;
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
    padding: 20px;
}
.button-container .button.secondary:hover{
    background-color: orange;
    color: white;
    transition: 0.5s;
}
.title{
    padding-top: 200px;
}

.head2{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.container2{
    padding-top: 100px;
    padding-bottom: 300px;
}

.title2{
    padding-top: 50px;
    padding-left: 350px;
    text-transform: uppercase;
}

.box365{
    text-align: left;
}

.boxready{
    
    text-align: left;
    
}

.text{
    padding-top: 200px;
    display: flex;
    gap: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.sec3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sec3 picture{
    width: 100%;
    line-height: 0;
    overflow: hidden;
    background-color: #000;
    
}

.sec3 img{
    width: 100%;
    transform: scale(1.15) ;
    transition: 0.5s;
    opacity: 0.7;
}

.sec3 img:hover{
    transform: scale(1);
    opacity: 1;
}





