body{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}

.header{
    position: fixed;
    text-align: center;
    color: white;
    width: 100%;
    
}
.timein{
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.dau1{
    font-size: 24px;
}
.dau2{
    font-size: 24px;
}

.date{
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.xay{
    color: white;
}

.sec1container{
    padding-top: 240px;
    text-align: center;
    font-size: 24px;
}

.dk{
    padding-top: 20px;
    color: white;

}

.banbutton{
    border-radius: 10px;
    background-color: #FFC500;
    border: unset;
    padding: 20px;
    
}
.banbutton :hover{
    text-decoration: underline;
}

.kiemtrabutton{
    border-radius: 10px;
    background-color:  #1890ff;
    border: unset;
    padding: 20px;
    margin-top: 10px;
    
}

.kiemtrabutton :hover{
    text-decoration: underline;
}
.xoabutton{
    border-radius: 10px;
    background-color: red;
    border: unset;
    padding: 20px;
    margin-top: 10px;
    
}

.xoabutton :hover{
    text-decoration: underline;
}



.sec1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://khuchieunghi.github.io/JSA03-khuchieunghi/public/background.png');
    background-size: cover;
    height: 100vh;
}

.sec2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.sec2 picture{
    width: 100%;
    line-height: 0;
    }

    .sec2 img{
        width: 100%;
    }



.tohopbutton{
    display: flex ;
    flex-direction: column;
   margin-left: 600px;
   margin-right: 600px;
  
   
    
}
        
 .xoa, .kiemtra{
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.ban{
    color: rgb(72, 72, 72);
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}



